<launch>

    <arg name="robot_name" default="kinova_gen3" />
    <arg name="arm" default="gen3" doc="valid values are: gen3, gen3_lite" />
    <arg name="robot_ip_address" default="10.15.20.4" />
    <arg name="gripper_name" default="robotiq_2f_85" />
    <arg name="joy_topic" default="/joy" />
    <arg name="test" default="false" />

    <!-- Load panther robot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_joystick_demo)/urdf/panther.urdf.xacro" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg test)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Create transfor between panther and kinova manipulator -->
    <node pkg="tf" type="static_transform_publisher" name="panther_kinova_broadcaster" args="-0.105 0.11 0.031 3.14 0 0 cover_link $(arg robot_name)_base_link 100" />

    <include file="$(find kortex_driver)/launch/kortex_driver.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="ip_address" value="$(arg robot_ip_address)" />
        <arg name="arm" value="$(arg arm)" />
        <arg name="gripper" value="$(arg gripper_name)" if="$(eval arg('arm') == 'gen3')" />
        <arg name="prefix" value="$(arg robot_name)_" />
        <arg name="start_moveit" value="false" />
        <arg name="start_rviz" value="false" />
    </include>

    <include file="$(find kinova_vision)/launch/kinova_vision.launch">
        <arg name="device" value="$(arg robot_ip_address)" />
        <arg name="camera_link_frame_id" value="$(arg robot_name)_camera_link" />
        <arg name="color_frame_id" value="$(arg robot_name)_camera_color_frame" />
        <arg name="depth_frame_id" value="$(arg robot_name)_camera_depth_frame" />
    </include>

    <group ns="$(arg robot_name)">
        <node name="kortex_joystick" pkg="kortex_joystick_demo" type="kortex_joystick_demo_node" output="screen">
            <rosparam file="$(find kortex_joystick_demo)/config/kortex_joystick_config.yaml" />
            <remap from="joy" to="$(arg joy_topic)" />
            <remap from="gripper_controller/gripper_cmd" to="$(arg robot_name)_$(arg gripper_name)_gripper_controller/gripper_cmd" />
        </node>
    </group>

</launch>
